
  <!-- ======= Works Section ======= -->
    <section class="section site-portfolio">
      <div class="container">
        <div class="row mb-5 align-items-center">
          <div class="col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up">
            <h2>Hey, I'm Benjamin Koshy Biju</h2>
            <p class="mb-0">Software Developer</p>
          </div>
        </div>
        
        <div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="200">
        {{#each skills}}
        <div class="item {{this.framework}} col-sm-6 col-md-4 col-lg-4 mb-4">
          <a href="/{{this.slug}}" class="item-wrap fancybox">
            <div class="work-info">
              <h3>{{this.project_title}}</h3>
              <span>{{this.framework}}</span>
            </div>
            <div class="image-container">
              <img class="img-fluid" src="{{this.img}}">
            </div>
          </a>
        </div>
        {{/each}}
      </div>
        
      </div>
      
    </section><!-- End  WProjects Section -->

   
    <section class="section">
      <div id="education">
      <div class="container">
        <div class="row justify-content-center text-center mb-4">
          <div class="col-5">
            <h3 class="h3 heading">My Education</h3><br>
            {{#each edu}}
            <p><mark>{{this.course}}</mark>&nbsp;<b>{{this.date}}</b></p>
            <p><i>{{this.college}}</i></p>
            {{/each}}
          </div>
        </div>
      </div>
      </div>
      </div>
    </section><!-- End Eductaion Section -->

    <!-- ======= work Section ======= -->
    <section class="section services">
      <div id="mywork">
      <div class="container">
        <div class="row justify-content-center text-center mb-4">
          <div class="col-50">
            <h3 class="h3 heading">My Work Experience</h3>
            <p>I recently Completed my Masters and during that time I had the opportunity to work as a
              Software Developer Intern but unfortunately couldn't continue there even though I was offered a full time position
              because I had to shift back to my native place due to personal reasons, Later got the opportunity to work as
              a Digital Marketing Exective (Remote) Upskilled myself while working on Productive Marketing Campaigns.
            </p>
          </div>
        </div>
        </div>
        <div class="row ">
          {{#each work}}
          <div class="col-12 col-sm-6 col-md-6 col-lg-3 ">
            <i class="bi bi-card-checklist"></i>
            
            <h4 class="h4 mb-2">{{this.company}}</h4>
            <p>{{this.summary}}<br><strong>{{this.date}}</strong> </p>
            <ul class="list-unstyled list-line">
              <li>{{this.detail1}}</li>
              <li>{{this.detail2}}</li>
              <li>{{this.detail3}}</li>
              {{#if this.detail4}}
                <li>{{this.detail4}}</li>
              {{/if}}
              {{#if this.detail5}}
                <li>{{this.detail5}}</li>
              {{/if}}
            </ul>
            
          </div>
          {{/each}}
         
        </div>
      </div>
    </section><!-- End Services Section -->

   
    <section class="section pt-0">
      <div class="container">

        
              <div class="testimonial-wrap ">
                <div class="testimonial ">
                  <img src="/img/Benjamin.jpg" alt="Image" class="img-fluid">
                  <blockquote>
                    <p>Hi, thanks for checking out my portfolio. Initially I planned to Deploy it in Github pages using 
                      Github Actions but only realized after creating the CI/CD pipeline that my handlebars cant be loaded as pages.
                      So I decided to host it using AWS EC2 instance instead.  
                    </p>
                  </blockquote>
                  <p>&mdash; Benjamin Koshy Biju</p>
                </div>
              </div>
          </div>
          
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer class="footer" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          
          <div class="credits">
            <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=MyPortfolio
          -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a><br>
            Powered by. Express.js
          </div>
        </div>
        <div class="col-sm-6 social text-md-end">
          
          <a href="https://github.com/BenjaminKoshyBiju" target="_blank"><span class="bi bi-github"></span></a>
          <a href="https://www.linkedin.com/in/benjamin-koshy/" target="_blank"><span class="bi bi-linkedin"></span></a>
        </div>
      </div>
    </div>
  </footer>